.user_post_body_container {
  /* margin: 0 1.5rem; */
  /* margin-top: 0.5rem; */
  font-size: 1rem;
  font-weight: 400;
  white-space: pre-wrap;
  /* overflow */
  overflow: wrap;
}

.tag_link {
  color: #4285f4;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.tag_link:hover {
  text-decoration: underline;
}

.link {
  color: #4285f4;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.link:hover {
  text-decoration: underline;
}
