.user_post_body_container {
  /* margin: 0 1.5rem; */
  /* margin-top: 0.5rem; */
  font-size: 16px !important;
  /* font-weight: 400; */
  font-weight: 400 !important;
  white-space: pre-wrap;
  /* overflow */
  overflow: wrap;
  overflow-wrap: break-word;
}

.tag_link {
  color: #4285f4 !important;
  text-decoration: none !important;
  cursor: pointer !important;
  transition: all 0.2s ease-in-out !important;
}

.tag_link:hover {
  text-decoration: underline !important;
}

.universalnotes-link {
  color: #4285f4 !important;
  text-decoration: none !important;
  cursor: pointer !important;
  transition: all 0.2s ease-in-out !important;
}

.universalnotes-link:hover {
  text-decoration: underline !important;
}

.universalnotes-font {
  font-family: Arial, Helvetica, sans-serif !important;
}
