.universal_notes_loading_ring {
  /* margin-top: -4px; */
  display: inline-block !important;
  position: relative !important;
  width: 32px !important;
  height: 32px !important;
}
.universal_notes_loading_ring div {
  box-sizing: border-box !important;
  display: block !important;
  position: absolute !important;
  width: 32px !important;
  height: 32px !important;
  margin: 2px !important;
  /* border: 2px solid #000 !important; */
  border: 4px solid #4285f4 !important;
  border-radius: 50% !important;
  animation: universal-notes-loading-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1)
    infinite !important;
  /* border-color: #000 transparent transparent transparent !important; */
  border-color: #4285f4 transparent transparent transparent !important;
}
.universal_notes_loading_ring div:nth-child(1) {
  animation-delay: -0.45s !important;
}
.universal_notes_loading_ring div:nth-child(2) {
  animation-delay: -0.3s !important;
}
.universal_notes_loading_ring div:nth-child(3) {
  animation-delay: -0.15s !important;
}
@keyframes universal-notes-loading-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
