/* Rate Note */
.universal_notes_rate_popup_container {
  /* positioned absolute taking up the entire screen with a white translucent blurred background */
  all: initial !important;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  background-color: rgba(255, 255, 255, 0.42) !important;
  backdrop-filter: blur(10px) !important;
  border: 1px solid #d1d5db !important;
  animation: blurFadeIn ease-in-out 0.4s !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  z-index: 999999 !important;
}

@keyframes blurFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.universal_notes_rate_popup {
  all: initial !important;
  display: flex !important;
  flex-direction: column !important;
  background-color: #ffffff !important;
  border-radius: 12px !important;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.1) !important;
  width: 620px !important;
  max-width: 90% !important;
}

.universal_notes_rate_popup_header {
  all: initial !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  background-color: rgba(0, 0, 0, 0.03) !important;
  padding: 8px 16px !important;
  /* border-bottom: 1px solid #e3e3e3 !important; */
  border-radius: 8px 8px 0 0 !important;
  transition: all 0.2s ease-in-out !important;
}

.universal_notes_rate_popup_title {
  all: initial !important;
  font-size: 18px !important;
  font-family: Arial, sans-serif !important;
  color: #1f2937 !important;
  font-weight: bold !important;
  margin: 0 !important;
}

.universal_notes_rate_popup_footer {
  all: initial !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  background: #f8f8f8 !important;
  border-radius: 12px !important;
  margin: 18px !important;
  padding: 16px !important;
  overflow: hidden !important;
}

.universal_notes_rate_popup_footer_title {
  font-size: 16px !important;
  font-family: Arial, Helvetica, sans-serif !important;
  margin: 0 !important;
  color: rgba(31, 41, 55, 0.9) !important;
}

.universal_notes_rate_popup_footer_buttons {
  all: initial !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.universal_notes_rate_popup_footer_button {
  margin: 0 !important;
  padding: 0 !important;
  margin-left: 8px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  font-family: Arial, sans-serif !important;
  padding: 8px 18px !important;
  border-radius: 24px !important;
  background: #ffffff !important;
  border: 1px solid #e3e3e3 !important;
  font-size: 14px !important;
  font-weight: bold !important;
  cursor: pointer !important;
  color: #222 !important;
  transition: all 0.2s ease-in-out !important;
}

.universal_notes_rate_popup_footer_button:hover {
  background-color: #f2f2f2 !important;
}

.universal_notes_rate_popup_footer_button:focus {
  outline: none !important;
}

.universal_notes_rate_popup_footer_button.universal_notes_rate_popup_footer_liked_button {
  border: 1px solid #4285f4 !important;
  background-color: rgba(66, 133, 244, 0.1) !important;
  color: #4285f4 !important;
}

.universal_notes_rate_popup_footer_button.universal_notes_rate_popup_footer_liked_button:hover {
  background-color: rgba(66, 133, 244, 0.14) !important;
}

.universal_notes_rate_popup_footer_button.universal_notes_rate_popup_footer_disliked_button {
  border: 1px solid #fc035a !important;
  background-color: rgba(252, 3, 90, 0.1) !important;
  color: #fc035a !important;
}

.universal_notes_rate_popup_footer_button.universal_notes_rate_popup_footer_disliked_button:hover {
  background-color: rgba(252, 3, 90, 0.14) !important;
}
