.universal_notes_popup_container {
  all: initial; /* Reset all inherited and default styles */
  display: block; /* Re-establish block display */
  font-family: Arial, sans-serif !important;
  position: fixed !important;
  top: 40px !important;
  right: 40px !important;
  background-color: rgba(255, 255, 255, 0.9) !important;
  backdrop-filter: blur(6px) !important;
  color: #1f2937 !important;
  border: 1px solid #d1d5db !important;
  /* border: 1px solid rgba(66, 133, 244, 0.4) !important; */
  padding: 0 !important;
  border-radius: 12px !important;
  width: 500px !important;
  z-index: 999999 !important;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1) 0 4px 6px -2px
    rgba(0, 0, 0, 0.05) !important;
  /* fade in animation */
  /* Initial state: hidden and moved to the right */
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.5s ease, transform 0.5s ease;
  /* box shadow */
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.1);
}

.universal_notes_popup_container.visible {
  /* Final state: visible and positioned normally */
  opacity: 1;
  transform: translateX(0%);
}

.universal_notes_header {
  all: initial;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  background-color: rgba(0, 0, 0, 0.03) !important;
  padding: 8px 16px !important;
  /* border-bottom: 1px solid #e3e3e3 !important; */
  border-radius: 8px 8px 0 0 !important;
}

.universal_notes_title_container {
  all: initial;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.universal_notes_title {
  all: initial;
  margin-left: 8px !important;
  font-family: Arial, sans-serif !important;
  color: #1f2937 !important;
  font-weight: bold !important;
  margin-right: 8px !important;
}

.universal_notes_close_button {
  all: initial;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  background-color: transparent !important;
  padding: 0.4rem !important;
  border-radius: 50% !important;
  cursor: pointer !important;
  transition: all 0.2s ease-in-out !important;
  border: 1px solid transparent !important;
}

.universal_notes_close_button:hover {
  background-color: #e5e7eb !important;
  border: 1px solid #d1d5db !important;
}

.universal_notes_content {
  all: initial;
  display: block; /* Ensure it's a block-level element */
  padding: 16px !important;
  font-family: Arial, sans-serif !important;
  color: #000000 !important;

  /* Paragraph specific styles */
  line-height: 1.5; /* Adjust line height for readability */
}

.universal_notes_text {
  font-size: 16px !important;
  font-family: Arial, sans-serif !important;
  margin-top: 0 !important; /* Remove top margin */
  margin-bottom: 0 !important;
}

.universal_notes_link {
  all: initial;
  font-size: inherit !important;
  font-family: Arial, sans-serif !important;
  color: #4285f4 !important;
  text-decoration: none !important;
  transition: all 0.2s ease-in-out !important;
}

.universal_notes_link:hover {
  color: #4285f4 !important;
  cursor: pointer !important;
}
