* {
  margin: 0;
}

.universal_notes_popup_container {
  all: initial !important; /* Reset all inherited and default styles */
  display: block !important; /* Re-establish block display */
  font-family: Arial, sans-serif !important;
  position: fixed !important;
  top: 40px !important;
  right: 40px !important;
  background-color: rgba(255, 255, 255, 1) !important;
  backdrop-filter: blur(6px) !important;
  color: #1f2937 !important;
  border: 1px solid #d1d5db !important;
  /* border: 1px solid rgba(66, 133, 244, 0.4) !important; */
  padding: 0 !important;
  border-radius: 12px !important;
  width: 500px !important;
  z-index: 999999 !important;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1) 0 4px 6px -2px
    rgba(0, 0, 0, 0.05) !important;
  /* fade in animation */
  /* Initial state: hidden and moved to the right */
  transition: opacity 0.24s ease, transform 0.5s ease !important;
  animation: popupFadeIn ease 0.4s !important;
  /* box shadow */
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.1) !important;
}

.universal_notes_popup_minimized {
  width: 90px !important;
  border-radius: 42px !important;
}

@keyframes popupFadeIn {
  0% {
    opacity: 0;
    transform: translateX(20%);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.universal_notes_header {
  all: initial !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  background-color: rgba(0, 0, 0, 0.03) !important;
  padding: 8px 16px !important;
  /* border-bottom: 1px solid #e3e3e3 !important; */
  border-radius: 8px 8px 0 0 !important;
  transition: all 0.2s ease-in-out !important;
}

.universal_notes_header_minimized {
  border-radius: 42px !important;
}

.universal_notes_header_minimized:hover {
  cursor: pointer !important;
  background-color: rgba(0, 0, 0, 0.08) !important;
}

.universal_notes_title_container {
  all: initial;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.universal_notes_title {
  all: initial;
  margin-left: 8px !important;
  font-family: Arial, Helvetica, sans-serif !important;
  color: #1f2937 !important;
  font-weight: bold !important;
  margin-right: 8px !important;
}

.universal_notes_window_button_container {
  all: initial !important;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  position: relative !important;
}

.universal_notes_window_button {
  all: initial;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  background-color: transparent !important;
  padding: 6.4px !important;
  border-radius: 50% !important;
  cursor: pointer !important;
  transition: all 0.2s ease-in-out !important;
  border: 1px solid transparent !important;
}

.universal_notes_window_button:hover {
  background-color: #e5e7eb !important;
  /* border: 1px solid #d1d5db !important; */
}

.universal_notes_close_button_hover_popup {
  all: initial;
  position: absolute !important;
  display: block !important;
  top: 42px !important;
  right: 0 !important;
  min-width: 240px !important;
  text-align: center !important;
  background: #ffffff !important;
  font-size: 14px !important;
  font-family: Arial, Helvetica, sans-serif !important;
  border: 1px solid rgb(252, 3, 90, 0.4) !important;
  font-weight: bold !important;
  margin: 0 !important;
  padding: 12px !important;
  color: #111827;
  border-radius: 12px !important;
  backdrop-filter: blur(6px) !important;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.1) !important;
  transition: all 0.2s ease-in-out !important;
  animation: fadeIn ease 0.24s !important;
}

.universal_notes_close_button_hover_popup p {
  font-family: Arial, Helvetica, sans-serif !important;
  margin: 0 !important;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.universal_notes_close_button:focus {
  outline: none !important;
  border: 1px solid #097ed2 !important;
}

.universal_notes_content {
  all: initial;
  display: block; /* Ensure it's a block-level element */
  padding: 16px !important;
  font-family: Arial, sans-serif !important;
  color: #000000 !important;

  /* Paragraph specific styles */
  line-height: 1.5; /* Adjust line height for readability */
}

.universal_notes_text {
  font-size: 16px !important;
  font-family: Arial, sans-serif !important;
  margin-top: 0 !important; /* Remove top margin */
  margin-bottom: 0 !important;
}

.universal_notes_link {
  all: initial;
  font-size: inherit !important;
  font-family: Arial, sans-serif !important;
  color: #4285f4 !important;
  text-decoration: none !important;
  transition: all 0.2s ease-in-out !important;
}

.universal_notes_link:hover {
  color: #4285f4 !important;
  cursor: pointer !important;
}

.universal_notes_user {
  all: initial;
  font-size: 14px !important;
  font-family: Arial, sans-serif !important;
  color: #6b7280 !important;
  margin-top: 0 !important; /* Remove top margin */
  margin-bottom: 0 !important;
}

.universal_notes_access_code_warning_text {
  /* margin: 0 1.5rem; */
  /* margin-top: 0.5rem; */
  font-size: 16px !important;
  color: #111827 !important;
  /* font-weight: 400; */
  font-weight: 400 !important;
  white-space: pre-wrap !important;
  /* overflow */
  overflow: wrap !important;
  font-family: Arial, Helvetica, sans-serif !important;
}

/* Rate Note */
.universal_notes_rate_popup_container {
  /* positioned absolute taking up the entire screen with a white translucent blurred background */
  all: initial !important;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  background-color: rgba(255, 255, 255, 0.8) !important;
  backdrop-filter: blur(6px) !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  z-index: 999999 !important;
}
