.main-authenticated-container {
  width: 100%;
  background: #fff;
  /* make the element fade-in when it's first displayed */
  animation: mainFadeIn ease 0.24s;
}

@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.main-authenticated-container-footer {
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 0 1rem 0.4rem 1rem;
}

.main-authenticated-container-footer-logout-button {
  color: #626262;
  margin-left: 0.5rem;
  cursor: pointer;
  text-decoration: underline;
}
